* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #202b36;
  color: #ffffff;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header span {
  font-size: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 15px;
}

main {
  width: 1140px;
  max-width: 90%;
  margin: auto;
}

main .control {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

@media (max-width: 614px) {
  main .control {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.filter-form {
  height: 100%;
}

.filter-form input {
  background: url("../img/Searchicon.png") 10px center no-repeat;
  height: 100%;
  width: 400px;
  padding: 0 15px 0 40px;
  font-size: 20px;
  outline: none;
  border: 2px solid #dde0e3;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  margin-right: 20px;
}

@media (max-width: 1023px) {
  .filter-form input {
    margin-bottom: 15px;
  }
}

@media (max-width: 614px) {
  .filter-form input {
    width: 100%;
  }
}

.filter-form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/Arrow.png") right center no-repeat;
  height: 100%;
  width: 150px;
  padding: 0 15px;
  font-size: 20px;
  outline: none;
  border: 2px solid #dde0e3;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  margin-right: 15px;
}

@media (min-width: 615px) and (max-width: 1023px) {
  .filter-form select {
    width: 197px;
    margin: 0;
  }
}

@media (max-width: 614px) {
  .filter-form select {
    width: 100%;
    margin-bottom: 15px;
  }
}

.filter-form input:hover, .filter-form select:hover {
  border-color: #c1c7cc;
}

@media (min-width: 614px) and (max-width: 1023px) {
  .filter-form {
    width: 100%;
  }
}

.control-btn {
  height: 100%;
  width: 150px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  outline: none;
  background-color: #dde0e3;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.control-btn:hover {
  cursor: pointer;
  background-color: #c1c7cc;
}

@media (max-width: 614px) {
  .control-btn {
    position: relative;
    top: 145px;
    width: 100%;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1083px) {
  .list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 1023px) {
  .list {
    margin-top: 115px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 614px) {
  .list {
    margin-top: 220px;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 325px;
  height: 300px;
  border: 2px solid #57616a;
  font-size: 18px;
  margin-bottom: 40px;
}

.card-title {
  display: block;
  overflow: auto;
  padding: 10px 15px;
  border-bottom: 1px solid #57616a;
}

.card-text {
  overflow: auto;
  padding: 5px 15px;
}

.state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 15px;
  border-top: 1px solid #57616a;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.state-priority {
  padding: 5px;
  border: 1px dashed #57616a;
  border-radius: 10px;
}

.state-setting {
  width: 85px;
  font-size: 18px;
  outline: none;
  border: 2px solid #dde0e3;
  border-radius: 10px;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.state-setting:hover {
  border-color: #c1c7cc;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202b36;
  padding-left: 15px;
  margin-top: 10px;
}

@media (max-width: 722px) {
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.contacts img {
  margin: 0 5px;
}

.contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  margin-left: 15px;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  background: rgba(0, 0, 0, 0.5);
}

.modal-form {
  width: 400px;
  height: 450px;
  padding: 30px;
  border: 2px solid #353b40;
  font-size: 22px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 5px #dde0e3;
          box-shadow: 0 0 10px 5px #dde0e3;
}

.modal-form input, .modal-form textarea {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 5px 0 15px;
  border: 2px solid #dde0e3;
  outline: none;
  font-size: 17px;
}

.modal-form textarea {
  resize: none;
  height: 136px;
  font-family: 'Roboto', sans-serif;
}

.modal-form select {
  display: block;
  width: 100%;
  height: 35px;
  padding: 0 15px;
  margin: 5px 0 15px;
  border: 2px solid #dde0e3;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  font-size: 20px;
  background: url("../img/Arrow.png") right center no-repeat;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.modal-form .button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-form button {
  height: 35px;
  width: 40%;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  outline: none;
  background-color: #dde0e3;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.modal-form button:hover {
  cursor: pointer;
  background-color: #c1c7cc;
}

.modal-form input:hover, .modal-form textarea:hover, .modal-form select:hover {
  border-color: #c1c7cc;
}
/*# sourceMappingURL=style.css.map */