* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 50px;
  background-color: #6c757d;
  color: #ffffff;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header span {
  font-size: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 15px;
}

main {
  width: 1140px;
  max-width: 90%;
  margin: auto;
  margin-bottom: 100px;
}

main .control {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

@media (max-width: 614px) {
  main .control {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.filter-form {
  height: 100%;
}

.filter-form input {
  height: 100%;
  width: 400px;
  padding: 0 15px;
  font-size: 20px;
  outline: none;
  border: 2px solid #dde0e3;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  margin-right: 20px;
}

@media (max-width: 1023px) {
  .filter-form input {
    margin-bottom: 15px;
  }
}

@media (max-width: 614px) {
  .filter-form input {
    width: 100%;
  }
}

.filter-form select {
  height: 100%;
  width: 150px;
  padding: 0 15px;
  font-size: 20px;
  outline: none;
  border: 2px solid #dde0e3;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  margin-right: 15px;
}

@media (min-width: 615px) and (max-width: 1023px) {
  .filter-form select {
    width: 197px;
    margin: 0;
  }
}

@media (max-width: 614px) {
  .filter-form select {
    width: 100%;
    margin-bottom: 15px;
  }
}

.filter-form input:hover, .filter-form select:hover {
  border-color: #c1c7cc;
}

@media (min-width: 615px) and (max-width: 1023px) {
  .filter-form {
    width: 400px;
  }
}

button {
  height: 100%;
  width: 150px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  outline: none;
  background-color: #dde0e3;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: #c1c7cc;
}

@media (max-width: 614px) {
  button {
    position: relative;
    top: 136px;
    width: 100%;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 325px;
  height: 300px;
  border: 2px solid #57616a;
  font-size: 18px;
  margin-bottom: 40px;
}

.card-title {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #57616a;
}

.card-text {
  overflow: auto;
  padding: 5px 15px;
}

.state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 15px;
  border-top: 1px solid #57616a;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.state-priority {
  padding: 5px;
  border: 1px dashed #57616a;
  border-radius: 10px;
}

.state-setting {
  width: 85px;
  font-size: 18px;
  outline: none;
  border: 2px solid #dde0e3;
  border-radius: 10px;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.state-setting:hover {
  border-color: #c1c7cc;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #6c757d;
  height: 50px;
}

footer img {
  max-width: 100%;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  padding-left: 15px;
}
/*# sourceMappingURL=style.css.map */