// Colors
// $Grey: #202b36;
$Border: #dde0e3;
$Border-card: #57616a;
$Modal: #353b40;

@mixin border {
  border: 1px solid red;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #202b36;
  color: #ffffff;
  margin-bottom: 20px;
  display: flex;
  span {
    font-size: 24px;
    align-self: center;
    padding-left: 15px;
  }
}

main {
  width: 1140px;
  max-width: 90%;
  margin: auto;
  .control {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    @media (max-width: 614px) {
      flex-wrap: wrap;
    }
  }
}

.filter-form {
  height: 100%;
  input {
    background: url('../img/Searchicon.png') 10px center no-repeat;
    height: 100%;
    width: 400px;
    padding: 0 15px 0 40px;
    font-size: 20px;
    outline: none;
    border: 2px solid $Border;
    transition: all, 0.3s;
    margin-right: 20px;
    @media (max-width: 1023px) {
      margin-bottom: 15px;
    }
    @media (max-width: 614px) {
      width: 100%;
    }
  }
  select {
    appearance: none;
    background: url('../img/Arrow.png') right center no-repeat;
    height: 100%;
    width: 150px;
    padding: 0 15px;
    font-size: 20px;
    outline: none;
    border: 2px solid $Border;
    transition: all, 0.3s;
    margin-right: 15px;
    @media (min-width: 615px) and (max-width: 1023px) {
      width: 197px;
      margin: 0;
    }
    @media (max-width: 614px) {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  input:hover, select:hover {
    border-color: darken($Border, 10%);
  }
  @media (min-width: 614px) and (max-width: 1023px) {
    width: 100%;
  }
}

.button {
  height: 100%;
  width: 150px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  outline: none;
  background-color: $Border;
  transition: all, 0.3s;
  &:hover {
    cursor: pointer;
    background-color: darken($Border, 10%);
  }
  @media (max-width: 614px) {
    position: relative;
    top: 145px;
    width: 100%;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 1083px) {
    justify-content: space-around;
  }
  @media (max-width: 1023px) {
    margin-top: 115px;
    justify-content: space-around;
  }
  @media (max-width: 614px) {
    margin-top: 220px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 325px;
  height: 300px;
  border: 2px solid $Border-card;
  font-size: 18px;
  margin-bottom: 40px;
  &-title {
    display: block;
    overflow: auto;
    padding: 10px 15px;
    border-bottom: 1px solid $Border-card;
  }
  &-text {
    overflow: auto;
    padding: 5px 15px;
  }
}

.state {
  display: flex;
  padding: 8px 15px;
  border-top: 1px solid $Border-card;
  justify-content: space-between;
  &-priority {
    padding: 5px;
    border: 1px dashed $Border-card;
    border-radius: 10px;
  }
  &-setting {
    width: 85px;
    font-size: 18px;
    outline: none;
    border: 2px solid $Border;
    border-radius: 10px;
    transition: all, 0.3s;
  }
  &-setting:hover {
    border-color: darken($Border, 10%);
  }
}

footer {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: #202b36;
  padding-left: 15px;
  margin-top: 10px;
  @media (max-width: 722px) {
    justify-content: center;
    padding-left: 0;
  }
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.link {
  margin: 20px;
}

.modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 500ms ease-in;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.modal-form {
  width: 400px;
  height: 450px;
  padding: 30px;
  border: 2px solid $Modal;
  font-size: 22px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 5px $Border;
  input, textarea {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 5px 0 15px;
    border: 2px solid $Border;
    outline: none;
    font-size: 17px;
  }
  textarea {
    resize: none;
    height: 136px;
    font-family: 'Roboto', sans-serif;
  }
  select {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 15px;
    margin: 5px 0 15px;
    border: 2px solid $Border;
    appearance: none;
    outline: none;
    font-size: 20px;
    background: url('../img/Arrow.png') right center no-repeat;
    transition: all, 0.3s;
  }
  .button-wrap {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
  button {
    width: 40%;
    height: 35px;
  }
  input:hover, textarea:hover, select:hover {
    border-color: darken($Border, 10%);
  }
}